<html>
  <head>
    <title>Gizmo Cloc, reference implementation of Gizmo-Web framework</title>
    <link href="/stylesheets/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/vendor/bootstrap-docs.css" rel="stylesheet">
    <link href="/stylesheets/vendor/solarized_dark.css" rel="stylesheet">
  </head>
  <body>
    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9">
          <h1>Sorry, but page wasn't found. </h1>
          <h2>You can go back to <a href="/">home</a></h2>
        </div>
      </div>
    </div>

  </body>
</html>
