<html>
  <head>
    <title>Gizmo Cloc, reference implementation of Gizmo-Web framework</title>
    <link href="/stylesheets/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/vendor/bootstrap-docs.css" rel="stylesheet">
    <link href="/stylesheets/vendor/solarized_dark.css" rel="stylesheet">
  </head>
  <body>
    <widget rel="gizmo-cloc.widgets.shared/header" />

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <widget id="middle-content" />
        </div>
        <div class="col-md-9">
          <widget id="main-content" />
        </div>
      </div>
    </div>


    <script src="/javascripts/vendor/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/vendor/highlight.pack.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
