<div id="content">
  <ul snippet="libraries-list">
    <li snippet="libraries-list-item">
      <a href="${library-path}">${library-name}</a>
    </li>
  </ul>

  <ul snippet="namespaces-list">
    <li snippet="namespaces-list-item">
      <a href="${namespace-path}">${namespace-name}</a>
    </li>
  </ul>

  <div snippet="namespace-docs">
    <span snippet="ns-docstring"></span>
    <ul snippet="docstring-list">
      <li snippet="docstring-list-item">${file} ${name} ${doc}</li>
    </ul>
  </div>
</div>
