<div id="content">

  <div snippet="libraries-snippet">
    <h2>Libraries</h2>
    <ul snippet="libraries-list" class="list-unstyled">
      <li snippet="libraries-list-item">
        <a href="${library-path}">${library-name}</a>
      </li>
    </ul>
  </div>

  <div snippet="namespaces-snippet">
    <h2>Namespaces</h2>
    <ul snippet="namespaces-list" class="list-unstyled">
      <li snippet="namespaces-list-item">
        <a href="${namespace-path}">${namespace-name}</a>
      </li>
    </ul>
  </div>

  <div snippet="library-description">
    <ul snippet="namespace-list" class="list-unstyled">
      <li snippet="namespace-list-item">
        <h4><a href="${namespace-path}">${namespace-name}</a></h4>
        <pre snippet="ns-docstring"></pre>
        <h5>Public variables and functions:</h5>
        <ul snippet="namespace-public-vars-list"></ul>
      </li>
    </ul>
  </div>

  <ul snippet="namespace-public-vars-list" class="list-unstyled list-inline">
    <li snippet="namespace-public-vars-list-item"><a href="${public-link}">${name}</a></li>
  </ul>

  <div snippet="namespace-docs">
    <h2>API Documentation</h2>
    <pre snippet="ns-docstring"></pre>

    <ul snippet="docstring-list" class="list-unstyled">
      <li snippet="docstring-list-item">
        <h4 id="${name}">${name}</h4>
        <p class="text-muted">${file}</p>
        <pre>${doc}</pre>
        <pre snippet="code"><code class="clojure">${source}</code></pre>
      </li>
    </ul>
  </div>

  <div snippet="search">
    <h2>Search Results</h2>
    <ul snippet="search-result-list" class="list-unstyled">
      <li snippet="search-result-list-item">
        <h4>${name}</h4>
        <p class="text-muted"><a href="${library-path}">${lib}</a> (<a href="${namespace-path}">${namespace}</a>)</p>
        <pre>${docs}</pre>
        <pre snippet="code"><code class="clojure">${source}</code></pre>
      </li>
    </ul>
  </div>
</div>
